body {
  margin: 0;
  padding: 0;

  font-size: 20px;
  line-height: 1.2;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;

  background-color: #212121;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

 .passe {
    padding: 5px; /* Ширина  */
    background: #f0f0f0; /* Цвет фона  */
    border: 1px solid #666; /* Параметры рамки */ 
 }

p {
  margin: 20px 0;
}
